*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202c36;
    color: white;
}
.container{
    padding: 0px 80px;
}
.header{
    max-width: 1440px;
    border: 2px solid red;
    margin: 0 auto;
}
.nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b3844;
}
.header_container_nav_img{
    width: 230px;
    height: 33px;
}
.input{
    width: 480px;
    height: 56px;
    color: white;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 34px;
    line-height: 20px;
    letter-spacing: 8px;
    background-color: #2b3844;
    padding-left: 32px;
    margin: 48px 0;
}
@media (max-width:991.98px){
    .nav{
        padding: 0 32px;
    }
    .logo{
        width: 175px;
        height: 25px;
    }
    .input{
        width: 100%;
        height: 101px;
        margin: 58px 0;
    }
    .header_div{
        gap: 240px;
        margin-top: 58px;
        flex-wrap: wrap;
        margin-left: 34px;
        margin-right: 32px;
        
    }
    .header_div_card{
        margin-top: 58px;
    }
}
.header_div{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 75px;
}
.header_div_card{
    width: 264px;
    height: 250px;
    border-radius: 5px;
    color: white;
    background-color: #2b3844;
    margin: 0px;
}
.header_div_card img{
    margin: -10px 0px 0px -10px;
    width: 282px;
    height: 160px;
}
.header_div_card p{
    padding-top: 28px;
    text-align: center;
}
.header_div_1{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 75px;
    margin-top: 75px;
}